.sidebar {
  width: 15rem;
  background: #0f70b7;
  left: 0;
  top: 0;
  height: 100%;
  position: fixed;
  /* border: 2px solid red; */
  z-index: 100;
}

.sidebar_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  gap: 1rem;
  color: #C2E15C;

}

.sidebar_menu {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.sidebar_menu li {
  width: 100%;
  margin-bottom: 1.7rem;
  padding-left: 1rem;
}


.sidebar_menu a {
  padding-left: 1rem;
  gap: 1rem;
  display: flex;
  justify-items: center;
  align-items: center;
  color: #C2E15C;
  font-size: 1.1rem;
}

.sidebar_menu a.active {
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #0f70b7;
  border-radius: 30px 0px 0px 30px;
}

.sidebar_menu a span:first-child {
  font-size: 1.5rem;
  padding-right: 1rem;
}

.main_container {
  margin-left: 15rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.7rem 1.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  left: 15rem;
  width: calc(100%-345px);
  top: 0;
  z-index: 100;

  background-color: #C2E15C;
}

header h2 {
  color: #0f70b7;
}

.main_container_title {
  display: flex;
  border: 2px solid red;
}

.updatefile {
  display: flex;
  gap: 10px;
  border-radius: 10px;
  align-items: center;
  overflow-x: hidden;
}

.user_wrapper {
  display: flex;
  align-items: center;
}

.user_wrapper img {
  border-radius: 50%;
  margin-right: 1rem;
}

main {
  margin-top: 4px;
  padding: 2rem 1.5rem;
  background: rgba(196, 194, 194, 0.226);
  min-height: 100vh;
}

.dashbord {
  display: flex;
  flex-direction: column;
}

.cards {
  border: 2px solode green;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
}

.card_single {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.card_single:hover {
  background-color: #C2E15C;
}

.card_single div:last-child span {
  font-size: 3rem;
  color: #0f70b7;
}

.card_single div:first-child span {
  color: gray;
}

.barchart {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  /* justify-content: space-between; */
}

.table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboard {
  display: flex;
  flex-direction: column;
}

.second_chart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

td {
  text-align: center;
}